@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.font--Thin {
  font-weight: 100 !important;
}

.font--Light {
  font-weight: 300 !important;
}

.font--Regular {
  font-weight: 400 !important;
}

.font--Bold {
  font-weight: 600 !important;
}

.color--Primary {
  color: #660708 !important;
}

.color--Secondary {
  color: #a4161a !important;
}

.color--Tertiary {
  color: #ba181b !important;
}

.color--Black {
  color: #0b090a !important;
}

.color--LightBlack {
  color: #161a1d !important;
}

.color--White {
  color: #ffffff !important;
}

.color--Grey {
  color: #b1a7a6 !important;
}

.color--Gradient {
  color: 90deg, #660708 0%, #ba181b 9%, #cb5759 24%, #f5f3f4 85% !important;
}

* {
  font-family: "Roboto Slab", serif !important;
}

.main {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.main__Text {
  max-width: 100%;
}

.main__title {
  font-size: 60px;
  line-height: 1.1;
  padding: 50px;
}

.main__Desc {
  font-size: 20px;
  padding-bottom: 50px;
  margin-left: 10px;
}

.main__logo, .main__logo--img {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 768px) {
  .main__logo, .main__logo--img {
    display: none;
  }
}

.text-muted {
  color: #b1a7a6 !important;
}
.text-muted li {
  list-style: none;
  padding-bottom: 10px;
}

.tl-icon {
  width: 60px !important;
  color: #161a1d;
  height: 60px;
}

@media all and (max-width: 780px) {
  .map-size {
    width: 400px;
    height: 300px;
  }
}

.contact-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.separate {
  height: 100px;
  background-color: #e5383b;
}

.centerCards {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  padding: 120px 0px 120px 0px;
  border-radius: 20%;
  transition: all 0, 8s ease-in-out;
}
.centerCards img {
  width: 286px;
  height: 286px;
}

.centerCards__card--shadow {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.text-center--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.squarebg {
  background-color: #161a1d;
  color: #ffffff;
  display: block;
  border-radius: 10px;
  padding: 100px 150px 100px 150px;
  font-weight: 600 !important;
  transition: all 0, 5s ease-in-out;
}

.description {
  width: 35%;
}

.hiddenH4 {
  font-size: 1rem !important;
  line-height: 1.75;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
}

.serv-image {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  line-height: 1.75;
  font-size: 30px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */